body {
    font-family: 'Open Sans';
}

body * {
    box-sizing: border-box;
}

.head {
    background: #212121;
    height: 78px;
}

.logo {
    display: inline-block;
}

.main-menu-link {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

.main-menu-link:hover {
    color: #bdbdbd;
}

.main-menu-link:active {
    opacity: .4;
}

.main-menu-item {
    display: inline-block;
    padding: 0 36px;
    list-style: none;
    border-right: 2px solid grey;
}

.container {
    max-width: 1040px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.container-head {
    justify-content: space-between;
    align-items: center;
}

.container-gallery {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.main-menu-item:last-child {
    border: none;
    padding: 0 0 0 36px;
}

.main-menu-list {
    margin: 0 62px 0 0;
    float: right;
}

.gallery-img {
    margin: 0 auto;
}

.gallery-title {
    text-align: center;
    font-size: 52px;
    margin: 0 auto;
    color: #282828;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-paragraph {
    max-width: 340px;
    min-height: 44px;
    height: auto;
    font-size: 18px;
    text-align: center;
    color: #bdbdbd;

}

.slider {
    height: auto;
    display: flex;
    justify-content: center;
    padding: 80px 0 0 0;
}

.slider-item {
    max-width: 360px;
}

.slider-item:hover {
    background-color: #ececec;
}

.slider-logo {
    padding: 28px 36px 0 48px;
    float: left;
}

.slider-item-title {
    font-size: 10px;
    color: #757575;
    margin: 28px 0 0 0;
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

.slider-item-paragraph {
    width: 165px;
    font-size: 10px;
    color: #bdbdbd;
}

.slider-content {
    display: flex;
    flex-wrap: wrap;
}

.checked {
    background-color: #ececec;
    position: relative;
}

.checked:after,
.checked:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
}

.checked:after {
    top: -20px;
    border-color: transparent transparent #ececec transparent;
    border-width: 10px;
}

.checked:before {
    top: -20px;
    border-color: transparent transparent #ececec transparent;
    border-width: 11px;
}

.dark-section {
    background-color: #282828;
    height: auto;
    padding: 65px 0 30px 0;
}

.light-section {
    padding: 100px 0 0 0;
}

.info-box {
    display: flex;
    justify-content: center;
    margin: 0 0 40px 0;
}

.dark-info {
    background-color: #212121;
    min-width: 500px;
    min-height: 420px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.light-info {
    background-color: #fff;
    min-width: 500px;
    min-height: 420px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-logo {
    margin: 0 0 36px 0;
}

.info-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    line-height: 32px;
}

.info-title-light {
    color: #fff;
}

.info-title-dark {
    color: #282828;
}

.info-paragraph {
    max-width: 348px;
    font-size: 14px;
    text-align: center;
    color: #757575;
    margin: 25px 0 30px 0;
}

.info-paragraph-light {
    color: #757575;
}

.info-paragraph-dark {
    color: #bdbdbd;
}

.btn {
    text-decoration: none;
    width: 150px;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    line-height: 2;
    padding: 6px 0;
    margin: 0;
    color: #fff;
}

.btn-green {
    background-color: #51b736;
}

.btn-green:hover {
    background-color: #228B22;
}

.btn-green:active {
    opacity: .4;
}

.btn-dark {
    background-color: #212121;
    border: solid 1px #ececec;
}

.btn-dark:hover {
    background-color: #ececec;
    border: solid 1px #212121;
    color: #212121;
}

.btn-dark:active {
    opacity: .4;
}

.our-projects-title {
    font-size: 40px;
    font-weight: bold;
    color: #212121;
    text-align: center;
    line-height: 32px;
}

.container-projects {
    flex-direction: column;
}

.projects {
    display: flex;
    flex-flow: wrap;
    padding-bottom: 90px;
}

.projects-item {
    flex: 0 0 25%;
    width: 25%;
    padding: 10px;
}

.projects-item-link {
    display: block;
    width: 100%;
    height: 0;
    padding-top: 93.62%;
    position: relative;
}

.projects-item-img {
    object-fit: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.company {
    height: 200px;
    margin: 0;
    padding: 68px 0 0 0;
}

.company-title {
    font-size: 57px;
    color: #ffffff;
    margin: 0;
    text-align: center;
    line-height: 57px;
    font-weight: normal;
}

.company-paragraph {
    width: 460px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    padding: 0 0 0 50%;
    margin: 15px 0 0 -230px;
    line-height: 1.33;
}

.prices-area {
    width: 872px;
    height: auto;
    min-height: 400px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    padding: 0 0 90px 50%;
    margin: 0 0 0 -436px;
}

.price-title {
    font-size: 40px;
    text-align: center;
    color: #282828;
    font-weight: 600;
    padding: 0;
}

.price-item {
    width: 256px;
    padding: 0;
    margin: 0;
}

.price-item:hover .price-item-body,
.price-item:hover .price-item-head {
    border-color: #51b736;
}

.price-item:hover .price-item-head {
    background-color: #51b736;
}

.price-item:hover .price-choose-link {
    color: #51b736;
}

.price-item-head {
    height: 32px;
    background-color: #bdbdbd;
    border: solid 1px #bdbdbd;
    color: #fff;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    padding: 18px 0 0 0;
}

.price-item-body {
    height: auto;
    min-height: 350px;
    background-color: #fff;
    border: solid 1px #bdbdbd;
    text-align: center;
    padding: 23px 0 0 0;
}

.price-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.price-list-item-head {
    font-size: 10px;
    color: #757575;
    font-weight: bold;
}

.price-list-item-body {
    width: 166px;
    font-size: 10px;
    font-weight: normal;
    line-height: 1.6;
    color: #bdbdbd;
    text-align: center;
    padding: 6px 0 10px 50%;
    margin: 0 0 0 -83px;
}

.price {
    font-size: 40px;
    text-align: center;
    color: #282828;
    font-weight: normal;
}

.price-choose {
    padding: 24px 0 0 0;
}

.price-choose-link {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #bdbdbd;
}

.price-item-chosen .price-item-body,
.price-item-chosen .price-item-head {
    border-color: #51b736;
}

.price-item-chosen .price-item-head {
    background-color: #51b736;
}

.price-item-chosen .price-choose-link {
    color: #51b736;
}

.subscribe {
    height: 80px;
    background-color: #bdbdbd;
    font-size: 16px;
    text-align: left;
    color: #ececec;
    font-weight: normal;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 36px 0 0 0;
}

.subscribe-text-paragraph {
    width: 763px;
    float: left;
    padding: 0;
    margin: 0;
}

.btn-grey {
    text-decoration: none;
    width: 150px;
    height: 24px;
    border-radius: 2px;
    background-color: #fff;
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 2;
    color: #454545;
    padding: 6px 0;
    margin: 0 0 0 60px;
    float: right;
    font-weight: bold;
}

.btn-grey:hover {
    background-color: #DCDCDC;
}

.btn-grey:active {
    opacity: .4;
}

#map {
    width: 100%;
    height: 376px;
}

.foot {
    background: #212121;
    height: 84px;
    padding: 6px 0 0 0;
}

.foot-menu-item {
    border: none;
}

.changer {
    justify-content: center;
    display: none;
}

.changer-round {
    width: 5px;
    height: 5px;
    background-color: #bdbdbd;
    border-radius: 2px;
    margin: 0 5px 20px 5px;
}

.checked-changer-round,
.changer-round:hover {
    background-color: #212121;
}

@media (max-width: 890px) {
    .slider {
        display: none;
    }

    .slider-gallery {
        padding: 20px 0 0 0;
    }

    .gallery {
        padding: 0 0 20px 0;
    }

    .gallery-title {
        margin: auto;
    }

    .info-box {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .main-menu-item {
        padding: 0 0 0 16px;
        border: none;
    }

    .logo {
        display: none;
    }

    .light-section,
    .dark-section {
        width: auto;
        padding: 20px 0;
    }

    .light-section {
        padding: 20px 0;
    }

    .light-info {
        width: auto;
        padding: 0 0 0 0;
    }

    .main-menu-list {
        float: none;
        padding: 0;
        margin: 0;
        text-align: center;
        justify-items: center;
    }

    .dark-info,
    .light-info {
        min-width: auto;
    }

    .changer {
        display: flex;
    }

    .company {
        width: auto;
        height: auto;
    }

    .company-paragraph {
        width: auto;
        padding: 0;
        margin: 0;
    }

    #map {
        display: none;
    }

    .prices {
        display: none;
    }

    .subscribe {
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        padding: 10px 0;
    }

    .subscribe-text-paragraph {
        width: auto;
        padding: 5px;
        margin: 0;
        text-align: center;
        clear: left;
    }

    .btn-grey {
        margin: 0;
        clear: right;
    }
}

@media (max-width: 1020px) {
    .projects {
        width: auto;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .projects-item:nth-child(5),
    .projects-item:nth-child(6),
    .projects-item:nth-child(7),
    .projects-item:nth-child(8) {
        display: none;
    }
}